<h1>Créditos</h1>

<h2>Datos del alumno</h2>
<table>
  <tr>
    <td>Nombre</td>
    <td>Cristián A. Urrutia Normandin</td>
    <td>Lucía Cortés López</td>
  </tr>
  <tr>
    <td>Repositorio GitHub</td>
    <td>
      <a href='https://github.com/currutia/practica51'>
        https://github.com/currutia/practica51
      </a>
	<a href='https://github.com/luciacortes'>
        https://github.com/luciacortes
      </a>
    </td>
  </tr>
</table>
<img src='/images/ca.urrutia.jpg'/>
<img src='/images/IMG_5297.JPG'/>
<p>
    Esta práctica ha sido desarrollada por LeChuck.
</p>

<img src="/images/lechuck.jpg" />
