<h1>Página de ayuda</h1>

<p>Un <a href='https://en.wikipedia.org/wiki/Quiz'>quiz</a> es un juego mental
en el que los jugadores intentan responder correctamente a una serie de
preguntas. Con este proyecto se pretende que los alumnos de la
<a href='http://upm.es/'>UPM</a> (Universidad Politécnica de Madrid) que
cursamos la asignatura CORE (Computación en Red) aprendamos sobre la
implementación y el desarrollo de un proyecto web.
</p>
